.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gradient-custom-2 {
  background-color: #2a2a72; /* fallback for old browsers */
  background: -webkit-linear-gradient(315deg, #29539b 0%, #3764b6 80%);
  background-image: linear-gradient(315deg, #29539b 0%, #3764b6 80%);
}

.card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
